<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="list-group" *ngFor="let asignatura of listaAsignaturas">
    <ion-item [routerLink]="['/detail/', asignatura.id]" class="list-group-item" aria-current="true">
        <ion-avatar slot="start" >
          <img src="assets/img/student.png">
        </ion-avatar>
        {{asignatura.id}} {{asignatura.nombre}}
    </ion-item>
  </div>
</ion-content>
